@media (max-width: 480px) {
  .Create-todo {
    width: 50%;
  }

  .Todo, .Todo-done {
    width: 50%;
  }
}
@media (min-width: 481px) {
  .Create-todo {
    width: 80%;
  }

  .Todo, .Todo-done {
    width: 95%;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-button {
  margin-left: 20px;
}

.Create-todo {
  display: flex;
  flex-direction: column;
  margin: auto;

  input {
    margin-bottom: 15px;
  }

  button {
    width: 30%;
    align-self: flex-end;
  }
}

textarea {
  resize: vertical;
  margin-bottom: 15px;
}

.Create-date {
  width: 20%;
}

.Todo, .Todo-done {
  display: flex;
  justify-content: center;
  margin: 10px auto 0 auto;
  border-bottom: 1px solid black;
}

.Todo-done {
  color: #d9d9d9;
  text-decoration: line-through;

  div {
    div {
      a {
        color: #d9d9d9;
        text-decoration: none;
      }
    }
  }
}

.Todo-img, .Todo-img-done {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  cursor: pointer;
}

.Todo-img-done {
  background-image: url(../src/image/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.Todo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h5 {
    text-transform: capitalize;
    cursor: pointer;
    margin-top: auto;
  }

  a {
    font-size: 8px;
    margin-top: auto;
  }
}

.Todo-body {
  margin-right: auto;
  width: 385px;
  justify-content: space-between;
  min-height: 100%;
  display: flex;
  padding-bottom: 5px;

  span {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
  }
}

.Todo-description {
  max-width: 100%;
  word-wrap: break-word;
  font-size: 12px;
}

.Todo-buttons {
  align-self: center;

  button {
    margin-left: 10px;
  }
}

.none {
  display: none;
}
