.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-button {
  margin-left: 20px;
}

.Create-todo {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: auto;
}

.Create-todo > input {
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
  margin-bottom: 15px;
}

.Create-todo > button {
  width: 30%;
  align-self: flex-end;
}

.Create-date {
  width: 20%;
}

.Todo, .Todo-done {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 10px auto 0 auto;
  border-bottom: 1px solid black;
}

.Todo-done {
  color: #d9d9d9;
  text-decoration: line-through;
}

.Todo-done > div > div > a {
  color: #d9d9d9;
  text-decoration: none;
}

.Todo-img, .Todo-img-done {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  cursor: pointer;
}

.Todo-img-done {
  background-image: url(../src/image/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.Todo-item > h5 {
  text-transform: capitalize;
  cursor: pointer;
  margin-top: auto;
}

.Todo-item > a {
  font-size: 8px;
  margin-top: auto;
}

.Todo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Todo-body {
  margin-right: auto;
  width: 385px;
  justify-content: space-between;
  min-height: 100%;
  display: flex;
  padding-bottom: 5px;
}

.Todo-body > span {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
}

.Todo-description {
  max-width: 100%;
  word-wrap: break-word;
  font-size: 12px;
}

.Todo-buttons {
  align-self: center;
}

.Todo-buttons > button {
  margin-left: 10px;
}

.none {
  display: none;
}
